 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); 
body{
   background-color: antiquewhite; 
}
*{
    margin:0;
    padding:0;
}
nav{
font-family:'Lato', sans-serif ;
font-size: 200%;
}
nav ul{
     display:flex; 
    align-items: center;
    list-style-type: none;
    height:50px;
background-color: black;
color: azure;
padding: 2rem;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 130px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}
.container{

     min-height: 75vh;
    background-color: black;
    color: white;
    display: flex;
    margin:23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    /* background-image: url('music background.jpg'); */
    background-repeat: no-repeat;
    /* background-size: cover; */
}
h1{
    padding-bottom: 7rem;
    font-size:500%;
    font-style: italic;
    color: aqua;
}
.bottom{
    position: sticky;
    /* height: 125px; */
    background-color: black;
    /* bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    padding-bottom: 70px;
    font-size: larger;
}
.icons{
    margin: 34px;
    /* padding-top: 5rem; */
}
.icons{
    cursor: pointer;
}
#myprogressBar{
    width: 80vw;
    cursor: pointer;
}
.songItems{
    height: rem;
    display: flex;
    background-color: beige;
    color: black;
    margin: 7rem;
    margin-top: -9rem;
    margin-left: 500px;
    margin-right: 500px;
    justify-content: space-between;
    align-items: center;
    /* border-radius: 34px; */
    padding-left: 15rem;
    font-size: 45px;
    font-style: italic ;
    /* padding-right: 1rem; */
}
.img{
    height: 150px;
    /* width: 10px; */
    margin: 0 25px ;
    margin-top: -4rem;
    /* margin-bottom: 2rem; */
    border: white solid;
    border-width: 100px;
}
.bx{
    padding-left: 1rem;
    font-size: 3rem;
}
.timestamp i{
    cursor: pointer;
}
.SONGINFO
{
    font-size: 50px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.SONGINFO img{
    opacity: 1;
    transition: opacity 0.3s ease-in;
    width: 8rem;
}